<!DOCTYPE html>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div>
  <div [@flip]="flipState" class="flip-card-inner">
    <div class="flip-card-front">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2 class="title">Log In</h2>
            <mat-error *ngIf="loginInvalid">
              The username and password were not recognised
            </mat-error>
            <mat-form-field class="full-width-input">
              <input
                matInput
                placeholder="Email"
                formControlName="username"
                required
              />
              <mat-error> Please provide a valid email address </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input
                matInput
                type="password"
                placeholder="Password"
                formControlName="password"
                required
              />
              <mat-error> Please provide a valid password </mat-error>
            </mat-form-field>
            <button *ngIf="!cardFlipped" mat-raised-button color="primary">
              Login
            </button>
            <button
              *ngIf="!cardFlipped"
              class="flip-card-button"
              mat-raised-button
              color="primary"
              (click)="onFlipClick()"
            >
              Register
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="flip-card-back">
      <app-register></app-register>
    </div>
  </div>
</div>
