/* Reset de estilos para garantir uma base consistente */
body,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Estilos do cabeçalho */
header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para a seção principal com os filmes/séries */
main {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}
