.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
}

.carousel-item {
  display: none;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  overflow: hidden; /* Oculta qualquer parte da imagem que ultrapasse o container */
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: transform 0.3s ease-in-out; /* Transição suave */
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Efeito de aumento ao passar o mouse sobre a imagem */
.carousel-item img:hover {
  transform: scale(1.05);
}
